@charset "utf-8";
/* CSS Document */
body {
	background-color:#DDD;	
}

header {
	background-color:#000;
	color:#CCC;
}

footer {
	background-color:#000;
	color:#CCC;
	}
	
.main {
	background-color:#09C;
}

article {
	background-color:#66C;
}
	
aside {
	background-color:#F63;
}


